@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "_Admin";
}


<div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Home</a></li>
          <li class="breadcrumb-item active">Add Category</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

<div>
    <a asp-action="Add" class="btn btn-success">Add Category</a>
</div>
<table class="table" id="tblStudent">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
             <th>
                @item.Id
            </th>
            <th>
                @item.Name
            </th>
            <th>

                <a asp-controller="Category" asp-action="GetById" asp-route-id="@item.Id">Details</a>
                <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </th>
        </tr>
        }
    </tbody>
</table>

    </div>
</section>
